
<!DOCTYPE html>
<html>
  <head>
    <title>Target: Dice Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  </head>

  <body class="pico">
    
    </header>

    <main>
      <div class="container">
        <h1>Dice Roll</h1>

<form action="/process_roll">
  <label for="dice_field">
    Number of dice to roll?
  </label>
  <input id="dice_field" type="text" name="dice">
  
  <label for="sides_field">
    How many sides per die?
  </label>
  <input id="sides_field" type="text" name="sides">

  <button type="submit">Roll!</button>
</form>

      </div>
    </main>
  </body>
</html>
